@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
body {
  /* background: #000;
  color: #fff; */
  font-family: "Euclid Circular A", sans-serif;
}

.border-gradient-orange:hover {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #f05225, #eea820) border-box;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 2px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.border-gradient-box {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to bottom, #f05225, #eea820) border-box;
}
.border-gradient-box-2 {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to bottom, #ef32d9, #3f5efb) border-box;
}
.border-gradient-box-3 {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to bottom, #0da1da, #5db98e) border-box;
}
.border-gradient-box-4 {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(120.4deg, #f05225, #eea82000) border-box;
}
.border-gradient-box-5 {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(90deg, #0038ff 0%, rgba(217, 217, 217, 0) 100.86%)
      border-box;
}
.border-gradient-box-6 {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(302.76deg, #0038ff 54.81%, #3a86ff 85.95%, #6dccff 114.01%)
      border-box;
}
.border-gradient-box-7 {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(5.94deg, #f05225 2.2%, rgba(238, 168, 32, 0) 97.09%)
      border-box;
  transition: all 150ms ease-in-out;
}
.border-gradient-box-7:hover {
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(176.94deg, #f05225 2.2%, rgba(238, 168, 32, 0) 97.09%)
      border-box;
}
.border-gradient-bottom-orange {
  border: 2px solid;
  border-image: linear-gradient(to right, #f05225, #eea820) 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.text-gradient {
  background: -webkit-linear-gradient(#f05225, #eea820);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.glassmorphism {
  background: #3a3a3a4d;
  box-shadow: 0px 3.93095px 19.6547px #1e1e1e;
  backdrop-filter: blur(14.7411px);
  -webkit-backdrop-filter: blur(14.7411px);
}
.noscrollbar::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
