@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: #000000;
  font-family: "Poppins", sans-serif;
}

.border-gradient-orange:hover {
  /* border: 2px solid;
  border-image: linear-gradient(to right, #f05225, #eea820) 1; */
  /* transform-origin: left; */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #f05225, #eea820) border-box;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 2px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.border-gradient-box {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to bottom, #f05225, #eea820) border-box;
}
.border-gradient-bottom-orange {
  border: 2px solid;
  border-image: linear-gradient(to right, #f05225, #eea820) 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.text-gradient {
  background: -webkit-linear-gradient(#f05225, #eea820);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
