@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: #000000;
  font-family: "Poppins", sans-serif;
}

.border-gradient-orange:hover {
  border: 2px solid;
  border-image: linear-gradient(to right, #f05225, #eea820) 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
